* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.chat, .auth {
    width: 800px;
    height: 480px;
    margin: 100px auto;
    padding: 20px 20px 9px;
    background: #232324;
    border-radius: 30px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.auth {
    width: 400px;
    height: 250px;
}

.chat h1, .auth h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.chat form, .auth form {
    display: flex;
}

.chat form input, .auth form input {
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.auth form {
    flex-direction: column;
}

button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right,  rgba(48,12,174,1) 0%, rgba(181,1,162,1) 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

button:hover {
    background-position: right center;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 15px;
}

.chat .chat_messages {
    border-radius: 10px;
    margin-top: 20px;
    height: 310px;
    overflow-y: scroll;
}

.chat .chat_messages::-webkit-scrollbar {
    width: 0;
}

.chat .chat_messages .message__wrapper {
    position: relative;
    display: block;
    min-width: 20%;
    max-width: 70%;
    width: min-content;
    min-height: 80px;
    background-color: #42afe2;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.chat .chat_messages .message__wrapper .message_username {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 0px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-align: left;
    margin-left: 10px;
    background-image: linear-gradient(to right,  rgba(48,12,174,1) 0%, rgba(181,1,162,1) 100%);
    border-radius: 10px;
    padding: 1px 6px;
}

.chat .chat_messages .message__wrapper .message_text {
    margin-top: 25px;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}
.chat .chat_messages .message__wrapper .message_time {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-align: right;
    margin-left: auto;
    opacity: 0.5;
}

.chat__send-data {
    margin-top: 32px;
}

.chat__send-data .send_form{
    display: grid;
    grid-template-columns: 78% 20%;
    gap: 20px;
}

.chat__send-data .send_form input {
    width: 100%;
}

.chat__send-data .send_form button {
    margin: 0;
    height: 40px;
}

.register {
    width: 400px;
    height: 300px;
}

.connection_state {
    width: 400px;
    height: 250px;
}

.chat__header{
    position: relative;
}

#chat-change_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
}

.chat-user-info__username {
    background-image: linear-gradient(to right,  rgb(105, 87, 173) 0%, rgb(1, 43, 181) 100%);
    cursor: default;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    padding: 9px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

.message__companion {
    margin-right: 0 !important;
    margin-left: auto;
    background-color: #009de4 !important;
}

.connection_state form {
    display: flex;
}

.connection_state form button {
    height: 40px;
    width: 120px;
    margin-left: 10px;
}

.chat__select-el { 
    display: block; 
    font-size: 16px; 
    color: rgba(68, 68, 68, 0.719); 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    border: 1px solid #aaa;
    width: 227px;
    appearance: none;
    border-radius: 5px;
    background-color: #fff; 
} 
.chat__select-els:hover {
    border-color: #888;
} 

.chat__select-el option {
    font-weight:normal;
} 

#chat-add-user_btn {
    top: 0px;
    left: 70px;
    position: absolute;

}